In [1]:
#Data types in python
"""
Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
"""

'\nText Type:\tstr\nNumeric Types:\tint, float, complex\nSequence Types:\tlist, tuple, range\nMapping Type:\tdict\nSet Types:\tset, frozenset\nBoolean Type:\tbool\nBinary Types:\tbytes, bytearray, memoryview\n'

In [2]:
# know types
x=1.3
print(type(x))

<class 'float'>

In [14]:
x = "Hello World"
print(type(x))
#nt, or integer, is a whole number, positive or negative, without decimals, of unlimited length.
x = 20
print(type(x))
x = 20.5
print(type(x))
x = 1j
print(type(x))
x = ["apple", "banana", "cherry"]
print(type(x))
x = ("apple", "banana", "cherry")
print(type(x))
x = range(6)
print(type(x))
x = {"name" : "John", "age" : 36}
print(type(x))
x = {"apple", "banana", "cherry"}
print(type(x))
x = frozenset({"apple", "banana", "cherry"})
print(type(x))
x = True
print(type(x))
x = b"Hello"
print(type(x))
x = bytearray(5)
print(type(x))
x = memoryview(bytes(5))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>
<class 'bytearray'>

In [15]:
#Convert from one type to another:
x = 1 # int
y = 2.8 # float
z = 1j # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [25]:
#random
import random

print(random.randrange(1,10))

2

In [30]:
# Indexing
a = "Hello, World!"
print(a[0])
print(a[5])
print(a[0])
print(a[7])

H
,
H
W

In [32]:
#Negative indexing
b = "Hello, World!"
print(b[2:5])
print(b[-5:-2])

llo
orl

In [33]:
# LEN
a = "Hello, World!"
print(len(a))

13

In [37]:
# STRIP()
# REMOVE WHITE SPACE from the beginning OR from the end
x="  It's a becautiful day.   "
y="Let's go out"
z= x+y
print(z.strip())

It's a becautiful day.   Let's go out

In [40]:
#Lower and upper cases
x= "HOW ARE YOU DOING?"
print(x.lower())
print(x.upper())

how are you doing?
HOW ARE YOU DOING?

In [42]:
# REPLACE
a = "Hello, World!"
print(a.replace("e", "E"))

HEllo, World!

In [46]:
#SPLIT split()
a = "Hello, World!"
print(a.split(",")) 
print(a.split("l"))
print(a.split())

['Hello', ' World!']
['He', '', 'o, Wor', 'd!']
['Hello,', 'World!']

In [55]:
# Check if a phrase in a string 
a = "The rain in Spain stays mainly in the plain"
x= "st" in a
print(x)
x= "ni" in a
print(x)
x= "ni" not in a
print(x)

True
False
True

In [57]:
a = "Hello"
b = " World"
c = a + b
print(c)

Hello World

In [68]:
# string format
# we cant combine string and number like this way
#age = 36
#txt = "My name is John, I am " + age
#print(txt)
# using {}
age = 36
txt = "My name is John, I am {}"
print(txt.format(age))
# using %s
age = 37
print("My name is John, I am %s" %(age))
# using indexing {0}
age = 39
txt = "My name is John, I am {0}"
print(txt.format(age))

My name is John, I am 36
My name is John, I am 37
My name is John, I am 39

In [75]:
# to avoid an error when the codes contains 2 quotes, we can use \"      \"
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [1]:
#BOOLEAN
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [6]:
# BOOLEAN
a=13
b=-13
if a>b:
    print ("a is greater than b")
else:
    print("a is not greater than b")
#else:
   # print ("a is equal to b")

a is greater than b

In [9]:
print(bool("Hello"))
print(bool(-15))

True
True

In [10]:
x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

In [11]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [15]:
x = 3.0
print(isinstance(x, float))

True

In [17]:
x < 5 and  x > 10

False

In [20]:
x < 5 or x < 10

True

In [21]:
not(x < 5 and x < 10)

False