<a href="https://colab.research.google.com/github/HuyenNguyenHelen/seft-study_Python_from_anywhere/blob/master/self_study_myexercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#p. 101/ ex 9-4
def use_only (word, letter):
    if letter not in word:
        return True 
    return False
use_only ("cantin", "l")
letter = ["a","c","e","f","h","l","o"]
sentence= input()
for item in a:
    if use_only (a,b) == True:
        print(item)

my sentence
a
c
e
f
h
l
o

In [0]:
# p 105/ ex 9-7
def triple_double_letter (word):
  i=len (word)-1
  i=0
  count=0
  while i <len(word):
    if word [i]==word[i+1]:
      count+=1
      if count ==3:
        return True
      i=i+2
triple_double_letter ("mississippi")

KeyboardInterrupt: ignored

In [0]:
#dont understand
i = 0
count = 0
while i < len(word)-1:
  if word[i] == word[i+1]:
    count = count + 1
    if count == 3:
      return True
    i = i + 2
  else:
    i = i + 1 - 2*count
    count = 0
return False

SyntaxError: ignored

CHAPTER 10 LIST

In [0]:
#P120 EXT 10-1
# MY CODE
def nested_sum (sum_list):
  i=0
  total=0
  while i <len(sum_list):
    total+=sum(sum_list[i])
    i+=1
  return total
t=[[1,2],[3],[4,5,6]]
nested_sum(t)

21

In [0]:
# BOOK SOLUTION
def nested_sum(t):
    """Computes the total of all numbers in a list of lists.
   
    t: list of list of numbers

    returns: number
    """
    total = 0
    for nested in t:
        total += sum(nested)
    return total
t=[[1,2],[3],[4,5,6]]
nested_sum(t)

21

In [0]:

#p 102 Ex 10-2: SOlution/ Need to practice
def cumsum(t):
    """Computes the cumulative sum of the numbers in t.

    t: list of numbers

    returns: list of numbers
    """
    total = 0
    res = []
    for x in t:
        total += x
        res.append(total)
    return res
t=[1,2,3,4,5,6]
cumsum(t)

[1, 3, 6, 10, 15, 21]

In [0]:
# p121/ EX 10-3
# my code
new=[]
def middle(t):
  i=0
  for i in range(1,len(t)-1):
    x=t[i]
    new.append(x)
  return new
t=[1,2,3,4,5,6]
middle(t)

[2, 3, 4, 5]

In [0]:
# p121/ EX 10-3
# Book Solution
# I need to think more smartly and more simply :()
def middle(t):
    """Returns all but the first and last elements of t.

    t: list

    returns: new list
    """
    return t[1:-1]
t=[1,2,3,4,5,6]
middle(t)

[2, 3, 4, 5]

NOte: Remember that it is very different when we return a new list and modify a list. Create a new list with .Append() function or index[], but modify a list with del which no longer return the list (mean None)

In [0]:
 
 #p121/ EX 10-3
 def chop(t):
   del t[0] 
   del t[-1]
   return t
t=[1,2,3,4,5,6]
chop(t)

[2, 3, 4, 5]

Sort a list with: sorted (t) (mean that it changes the original list) and t.sort() (means that it creates a new list)

In [0]:
# p 121/ EX 10-5
def is_sorted (t):
  if t == sorted(t):
    return True
  return False
t=[2,5,1,3]  
is_sorted(t)

False

In [0]:
t=[2,5,1,3]
t.sort()
print(t)

[1, 2, 3, 5]

DICTIONARY

In [0]:
def invert_dict(d):
  inverse=dict()
  for key in d:
    val=d[key]
    if val not in inverse:
      inverse[val]=[key]
    else:
      inverse[val].append(key)
  return inverse
d={' ': 3,
  'I': 1,
  'a': 2,
  'c': 1,
  'd': 2,
  'e': 5,
  'h': 1,
  'j': 1,
  'l': 1,
  'n': 2,
  'o': 1,
  'p': 1,
  'r': 1,
  's': 1,
  'y': 1}
invert_dict(d)

{1: ['I', 'c', 'h', 'j', 'l', 'o', 'p', 'r', 's', 'y'],
 2: ['a', 'd', 'n'],
 3: [' '],
 5: ['e']}

In [0]:
# p.137/EX 11-2
# use setdefault to shorten code
def invert_dict(d):
  inverse=dict()
  for key in d:
    key_i=d[key]
    inverse.setdefault(key_i, []).append(key)
  return inverse
d={' ': 3,
  'I': 1,
  'a': 2,
  'c': 1,
  'd': 2,
  'e': 5,
  'h': 1,
  'j': 1,
  'l': 1,
  'n': 2,
  'o': 1,
  'p': 1,
  'r': 1,
  's': 1,
  'y': 1}
invert_dict(d)

{1: ['I', 'c', 'h', 'j', 'l', 'o', 'p', 'r', 's', 'y'],
 2: ['a', 'd', 'n'],
 3: [' '],
 5: ['e']}

In [0]:

def has_duplicate (d):
  my_dict=dict()
  for x in d:
    x=
d="what are you waiting for"
has_duplicate(d)

In [0]:
def has_duplicates(t):
    """Checks whether any element appears more than once in a sequence.

    Simple version using a for loop.

    t: sequence
    """
    d = {}
    for x in t:
        if x in d:
            return True
            d[x] = True
    return False
d="there is a will, there is a way"
has_duplicates(d)

False

In [0]:
def has_duplicates2(t):
    """Checks whether any element appears more than once in a sequence.

    Faster version using a set.

    t: sequence
    """
    return len(set(t)) < len(t)


if __name__ == '__main__':
    t = [1, 2, 3]
    print(has_duplicates(t))
    t.append(1)
    print(has_duplicates(t))

    t = [1, 2, 3]
    print(has_duplicates2(t))
    t.append(1)
    print(has_duplicates2(t))

NameError: ignored